@import '../../common/_const';

@import '_wellcome-wrapper';
@import '_wellcome-box';

.autorise-title {
	margin-top: -20px !important;
	@include Roboto(sansus);
	text-transform: uppercase;
}

.login-form {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__label-box {
		position: relative;
	}

	&__input {
		width: 100%;
		padding-left: 60px;
		height: 45px;
		border-radius: 22.5px;
		@include Roboto(regular);
		margin-bottom: 20px;
	}

	&__icon {
		top: 1px;
		border-bottom-left-radius: 22.5px;
		border-top-left-radius: 22.5px;
		background-color: $loginFormInput;
		height: 44px;
		width: 45px;
		position: absolute;

		&-svg {
			position: absolute;
		    left: 55%;
		    top: 50%;
		    transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			fill: $grey;
		}
	}
}

/* input[type="checkbox"]:checked + label:before {
	content: "";
	background-color: $green;
}
 */
.inspection-robot {
	color: $greyWhite;

	&__people-label {
		display: block;
		margin-bottom: 20px;

		&:before {
		    width: 18px;
		    height: 18px;
		    margin-right: 10px;
		    cursor: pointer;
		    vertical-align: middle;
		    background-color: $white;
		    display: inline-block;
		    border-radius: 2px;
		    content: "";
		    border: 1px solid rgb(204, 204, 204);
		}
	}

	&__people-input {
		display: none;
		
		/* &:checked + label:before{
			content: "";
			background-color: $green;
		} */
	}

	&__sure-caption {
		margin-bottom: 10px;
		@include Roboto(bold);
	}

	&__sure-labels {
		display: flex;
		justify-content: space-between;
		width: 200px;
		margin: 0 auto 40px auto;
	}

	&__sure-input {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		vertical-align: middle;
		cursor: pointer;
	}
}

@import '_wellcome-buttons';
@import '_signature';