@import '../../common/_const';

@import '../_element/_header';
@import '../_element/_social';
@import '../_element/_header-menu';
@import '../_element/_about-me-block';
@import '../_element/_footer';
@import '../_element/_signature';
@import '../_element/_fullscreen-menu';
@import '../_element/_preloader';


.my-articles {
	background-color: $beige;
	position: relative;
	display: flex;
	padding-top: 60px;
	color: rgb(69, 90, 100);

	&-triangles {
	    width: 100%;
	    height: 320px;
	    bottom: 100%;
	    fill: $beige;
	    position: absolute;
	    transform: translateY(160px);
	    z-index: -1;
	}

	&-name {
		max-width: 510px;
		width: 100%;
		padding-right: 120px;
		text-align: right;
		padding-left: 10px;

		@include w1200 {
			max-width: 300px;
		}

		@include w768 {
			display: none;
		}
	}

	&__item {
		padding: 13px 18px 13px 0;
		position: relative;
		margin-bottom: 10px;
		cursor: pointer;
	}

	&__link {
		line-height: 1.625;
		color: $blackGreen;

		&-active {
			@include Roboto(bold);
			color: $green;

			&:after {
				position: absolute;
				content: "";
				width: 3px;
				height: 100%;
				background-color: $green;
				top: 0;
				right: 0;
			}
		}
	}


	&-block {
		max-width: 880px;
		width: 100%;

		@include w1200 {
			padding-right: 40px;
		}

		@include w768 {
			max-width: 100%;
			padding: 0 24px;
		}

		@include w460 {
			background-color: $white;
		}
	}

	&-itself {
		margin-bottom: 144px;
		position: relative;

		&:after {
			display: block;
		    position: absolute;
		    width: 100%;
		    height: 5px;
		    background-color: #ecebe4;
		    content: "";
		    bottom: -77px;
		    transform: translateY(-50%);
		}

		&:last-child {
			margin-bottom: 66px;
		}

		>h2 {
			margin: 0 0 30px 0;
			text-align: left;
			@include Roboto(sansus);

			&:after {
				display: none;
			}
		}

		&__data {
			display: block;
			color: $lightGreen;
			margin-bottom: 30px;
		}

		&__caption {
			line-height: 1.625;
			margin-bottom: 20px;
		}
	}
}

.my-articles-bg {
	&__icon {

	}
}