.login-error-box {
	display: none;
	position: relative;
	max-width: 265px;
	height: auto;
	background-color: #e44845;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 0 0 15px 45px;

	&--works {
		margin: 0 0 15px 20px !important;
	}

	&:before {
		content: "";
		border: 9px solid transparent;
		position: absolute;
		border-bottom: 9px solid #e44845;
		top: -16px;
		left: 50%;
	    transform: translateX(-50%);
	}
}

.has-error {
	border: 1px solid #e44845;
}

.not-error {
	border: 1px solid $green;
}

.error-mes {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
}