.signature {
	text-align: center;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	margin-top: 20px;

	&__caption {
		margin-left: 10px;
		position: relative;

		&:before {
			content: "";
			width: 2px;
			height: 100%;
			background-color: #fff;
			position: absolute;
			left: -5px;
			transform: translateX(-50%);

			@include w460 {
				display: none;
			}
		}

		@include w460 {
			margin-left: 0;
		}
	}

	&__autor {
		@include w460 {
			margin-bottom: 10px;
		}
	}

	@include w460 {
		flex-direction: column;
	}
}

.footer-signature {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 38px;
	background-color: $green;
	opacity: 0.851;
	@include Roboto(light);

	&__caption {
		opacity: 0.851;

		margin-left: 10px;
		position: relative;

		&:before {
			content: "";
			width: 2px;
			height: 100%;
			background-color: rgba(225,225,225,0.6);
			position: absolute;
			left: -5px;
			transform: translateX(-50%);

			@include w460 {
				display: none;
			}
		}

		@include w460 {
			margin-left: 0;
		}
	}

	&__autor {
		@include w460 {
			margin-bottom: 10px;
		}
	}

	@include w460 {
		flex-direction: column;
		padding: 12px 0 10px 0;
		height: auto !important;
	}
}