$white: #ffffff;
$greyWhite: rgba(225,225,225,0.9);
$grey: #a9acae;
$mainText: rgba(255, 255, 255, 0.8);

$green: #4e8839;
$greenOpacity: rgba(79,136,59,0.8);
$lightGreen: #6c9c5a;
$lightGreenOpacity: rgba(98,144,84,0.8);
$swampGreen: #566358;
$blackGreen: #373e42;

$beige: #faf8f0;
$beigeGreen: #ebefe2;

$linkBorder: #92b090;

$loginFormInput: #f0efe9;