.wellcome-box {
	overflow: hidden;
	border-radius: 5px;
	background-color: rgba(18, 38, 32, 0.6);
	width: 380px;
	height: auto;
	margin: auto;
	padding: 40px 20px 0 20px;

	.page__title-h2{
		color: $white;
	}

	@include w460 {
		max-width: calc(300px/(13/16));
	}
}