@import '../../common/_const';

@import '../_element/_wellcome-wrapper';
@import '../_element/_wellcome-box';
@import '../_element/_about-me-block';
@import '../_element/_social';
@import '../_element/_wellcome-buttons';
@import '../_element/_signature';

.autorizate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #fff;
	width: 180px;
	height: 45px;
	border-radius: 22.5px;
	position: absolute;
	@include Roboto(medium);
	right: 100px;
	top: 24px;

	&:hover {
		background-color: $green;
		border-color: $lightGreen;
	}

	@include w1200 {
		top: 20px;
		right: 20px;
	}

	@include w720 {
		right: 50%;
	    transform: translateX(50%);
	}
}

.autorise-title {
	margin-top: -20px !important;
	@include Roboto(sansus);
	text-transform: uppercase;
}

.login-form {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__label-box {
		position: relative;
	}

	&__input {
		width: 100%;
		padding-left: 60px;
		height: 45px;
		border-radius: 22.5px;
		@include Roboto(regular);
		margin-bottom: 20px;
	}

	&__icon {
		top: 1px;
		border-bottom-left-radius: 22.5px;
		border-top-left-radius: 22.5px;
		background-color: $loginFormInput;
		height: 44px;
		width: 45px;
		position: absolute;

		&-svg {
			position: absolute;
		    left: 55%;
		    top: 50%;
		    transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			fill: $grey;
		}
	}
}
.inspection-robot {
	color: $greyWhite;

	&__people-label {
		display: block;
		margin-bottom: 20px;
	}

	&__people-input {
		width: 18px;
	    height: 18px;
	    margin-right: 10px;
	    cursor: pointer;
	    vertical-align: middle;
	}

	&__sure-caption {
		margin-bottom: 10px;
		@include Roboto(bold);
	}

	&__sure-labels {
		display: flex;
		justify-content: space-between;
		width: 200px;
		margin: 0 auto 40px auto;
	}

	&__sure-input {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		vertical-align: middle;
		cursor: pointer;
	}
}