@import '../../common/_const';

@import '_wellcome-wrapper';

.autorizate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #fff;
	width: 180px;
	height: 45px;
	border-radius: 22.5px;
	position: absolute;
	@include Roboto(medium);
	right: 100px;
	top: 24px;

	&:hover {
		background-color: $green;
		border-color: $lightGreen;
	}

	@include w1200 {
		top: 20px;
		right: 20px;
	}

	@include w720 {
		right: 50%;
	    transform: translateX(50%);
	}
}

@import '_wellcome-box';
@import '_about-me-block';
@import '_social';
@import '_wellcome-buttons';
@import '_signature';