@import '../../common/_const';

@import '../_element/_wellcome-wrapper';
@import '../_element/_wellcome-box';
@import '../_element/_about-me-block';
@import '../_element/_social';
@import '../_element/_wellcome-buttons';
@import '../_element/_signature';
@import '../_element/_form-error-box';

.autorizate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #fff;
	width: 180px;
	height: 45px;
	border-radius: 22.5px;
	position: absolute;
	@include Roboto(medium);
	right: 100px;
	top: 24px;

	&:hover {
		background-color: $green;
		border-color: $lightGreen;
	}

	@include w1200 {
		top: 20px;
		right: 20px;
	}

	@include w720 {
		right: 50%;
	    transform: translateX(50%);
	}
}

.autorise-title {
	margin-top: -20px !important;
	@include Roboto(sansus);
	text-transform: uppercase;
}

.login-form {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__label-box {
		position: relative;
	}

	&__input {
		width: calc(100% - 45px);
		padding-left: 20px;
		height: 45px;
		border-bottom-right-radius: 22.5px;
		border-top-right-radius: 22.5px;
		@include Roboto(regular);
		margin-bottom: 20px;
		position: relative;
		right: -22px;
	}

	&__icon {
		top: 1px;
		border-bottom-left-radius: 22.5px;
		border-top-left-radius: 22.5px;
		background-color: $loginFormInput;
		height: 45px;
		width: 45px;
		position: absolute;
		top: 0;
		left: 0;

		&-svg {
			position: absolute;
		    left: 55%;
		    top: 50%;
		    transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			fill: $grey;
		}
	}
}
.inspection-robot {
	color: $greyWhite;

	&__people-label {
		display: block;
		margin-bottom: 20px;

		&:before {
			content: "";
			margin-right: 10px;
			width: 20px;
	    	height: 20px;
	    	cursor: pointer;
	    	display: inline-flex;
	    	background-color: rgb(225,225,225);
	    	border-radius: 2px;
	    	vertical-align: middle;
		}
	}

	&__people-input {
	    display: none;
	}

	&__sure-caption {
		margin-bottom: 10px;
		@include Roboto(bold);
	}

	&__sure-labels {
		display: flex;
		justify-content: space-between;
		width: 200px;
		margin: 0 auto 40px auto;
	}

	&__sure-input {
		display: none;
	}

	&__sure-label {
		&:before {
			content: "";
			margin-right: 10px;
			width: 20px;
	    	height: 20px;
	    	cursor: pointer;
	    	display: inline-flex;
	    	background-color: rgb(225,225,225);
	    	border-radius: 50%;
	    	vertical-align: middle;
	    	justify-content: center;
	    	align-items: center;
	    	font-size: 16px;
	    	@include w1440 {
	    		font-size: calc(16px/(14/16));
	    	}
		}
	}
}
.inspection-robot__people-input:checked + label:before {
	background-color: $lightGreen;
	content: '✔';
	justify-content: center;
	align-items: center;
	color: rgba(255,255,255, 1);
	font-size: 12px;
}

.inspection-robot__sure-input:checked + label:before {
	content: '●';
	color: $lightGreen;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}